:root {
  --color-bg: #d5e1ef;
  --color-hdr-text: #1f314f;
  --color-pg-text: #68778d;
  --color-qr-bg: #ffffff;
}

@media (max-width: 375px) {
  .card {
    width: 90%;
    padding: 16px;
  }

  .qr-box {
    height: auto;
    width: 100%;
  }

  .qr-box img {
    width: 100%;
    height: auto;
  }
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-qr-bg);
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 288px;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.qr-box img {
  width: 288px;
  height: 288px;
  object-fit: contain;
  border-radius: 10px;

}

.text {
text-align: center;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-hdr-text);
  gap: 16px;
  line-height: 120%;
  letter-spacing: 0px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-pg-text);
  line-height: 140%;
  letter-spacing: 0.2px;
}
